{% extends "layouts/_base.html" %}
{% set pageClass = "contest-page" %}
{% block content %}
<div class="page-content legal">
    <h1>THE POST CONTEST</h1>
    <h2>OFFICIAL RULES</h2>
    <p>The “Post” contest described herein (the “<strong>Contest</strong>”) is sponsored by openspot.community Inc., a
        Delaware corporation having an address of 256 Chapman Road STE 105-4, Newark, New Castle, DE 19702 (“<strong>Sponsor</strong>”).
    </p>
    <h2>ELIGIBILITY:</h2>
    <p>Subject to these Official Rules, the Contest is open only to individuals who (i) are U.S. legal residents
        physically residing in one of the fifty (50) United States of America or the District of Columbia; (ii) are 19
        years of age or older if residing in Alabama or Nebraska, or 18 years of age or older if residing in any other
        state or district; (iii) have a registered account on the Sponsor platform (the “<strong>Platform</strong>”);
        (iv) have created and published at least one post on the Platform (each, a “<strong>Platform Post</strong>”),
        (v) have at least one follower on the Platform; (vi) have sold at least one Platform Post to another user on the
        Platform; (vii) have shared the official Contest announcement on social media, and tagged and followed Sponsor’s
        Instagram account (@post.community) and/or TikTok account (@postinc.co) and (viii) are and have been in
        compliance with Sponsor’s <a href="/terms">Terms of Service</a>.
    </p>
    <p>Employees of Sponsor, any administrators associated with the Contest, and their respective parents, affiliates,
        and subsidiaries, and advertising and promotion agencies and any other person or entity involved in the
        development or administration of the Contest, and their immediate family members or household members are not
        eligible to participate in or win prizes in the Contest. THE CONTEST IS VOID WHERE PROHIBITED OR RESTRICTED BY
        LAW, INCLUDING BUT NOT LIMITED TO JURISDICTIONS WITH LAWS THAT WOULD REQUIRE REGISTRATION, DISCLOSURE, FILING,
        TRUST ACCOUNT, OR POSTING OF A BOND, OR ANY OTHER REQUIREMENTS THAT ARE NOT SATISFIED BY THESE OFFICIAL RULES.
        ALL APPLICABLE FEDERAL, STATE AND LOCAL LAWS APPLY.</p>
    <h2>ENTRY PERIOD:</h2>
    <p>The Contest application period begins at 12 AM PT/3 AM ET on March 13, 2023 and ends at 6 PM PT/9 PM ET on June
        27, 2023 (the “<strong>Entry Period</strong>”).</p>
    <h2>HOW TO ENTER:</h2>
    <p>During the Entry Period, you will automatically be entered into the Contest if you meet the above eligibility
        criteria and below Platform Post requirements.</p>
    <p>You hereby confirm that: (i) each Platform Post you publish is an original creation and was not copied (in whole
        or in part) from any other work; (ii) you have obtained a binding written release from (and signed by) every
        other person or copyright holder who (or whose work is) shown in each Platform Post you publish; (iii) each
        Platform Post you publish does not infringe or violate any copyright right, trademark right, publicity right,
        privacy right or other proprietary right of any person or entity (including without limitation, any property
        owner); (iv) each Platform Post you publish does not contain obscene, lewd, defamatory, inappropriate,
        disparaging, offensive, racist, homophobic or threatening content; and (iv) Sponsor will not be obligated to pay
        any compensation to, or permit any participation by, any third party in connection with the publication of any
        Platform Post via the Platform. If Sponsor determines in its sole discretion that you’ve violated any of the
        foregoing requirements, you may be disqualified from the Contest.</p>
    <p>All non-public personal or other information you provide as part of the Contest will be treated in accordance
        with Sponsor’s <a href="/privacy-policy">Privacy Policy</a>.</p>
    <h2>PRIZE:</h2>
    <p>One hundred (100) winners (each, a “<strong>Winner</strong>”) will be selected and the following prizes (each, a
        “<strong>Prize</strong>”) will be awarded to each Winner and paid via purchase by Sponsor of a Platform Post
        published by each Winner for such Winner’s Prize amount :</p>
    <ul>
        <li>1st place: One hundred thousand USD ($100,000)</li>
        <li>2nd place: Twenty five thousand USD ($25,000)</li>
        <li>3rd place: Ten thousand USD ($10,000)</li>
        <li>4th to 10th place: One thousand five hundred USD ($1,500)</li>
        <li>11th to 100th place: Five hundred USD ($500)</li>
    </ul>
    <p>Sponsor does not guarantee, and makes no commitments to provide, any prize, benefit or support beyond the
        Prizes.</p>
    <p>Decisions of the Sponsor are final and binding with respect to all matters related to the Contest. In no event
        shall the Sponsor be obligated to award any prizes other than the Prizes specified in these Official Rules. The
        Prizes are non-transferable and no substitutions are permitted. Each Winner shall be responsible and liable for
        all federal, state and local taxes on the value of their Prize.</p>
    <h2>WINNER SELECTION:</h2>
    <p>The Winners are automatically selected as the individuals with the highest ratings (“<strong>Rating</strong>”) based on the
        following calculation:</p>
    <ul>
        <li>The Rating for each individual is calculated as the cumulative difference between the number of upvotes and
            the number of downvotes across all Platform Posts and comments published and/or purchased by the individual
            during the Entry Period.
        </li>
        <li>There is no limit to the number of Platform Posts or comments that individuals can publish or purchase for
            entry into the Contest and calculation of the Rating.
        </li>
        <li>Upvotes/downvotes on each Platform Post are calculated into the Rating for each individual that publishes or
            purchases the Platform Post. By way of example, if a Platform Post is published by one individual and
            purchased by another individual, and such Platform Post has 100 upvotes and 0 downvotes, then 100 will be
            added to the Rating for each individual.
        </li>
        <li>The criteria for giving and receiving upvotes or downvotes is determined by Platform users in their sole
            discretion and may include (but is not limited to) personal preference, aesthetics, and visual appeal of the
            Platform Post or comment.
        </li>
    </ul>
    <p>In the event of a tie, the winner of such tie will be the individual with the highest total number of upvotes
        across all Platform Posts and comments published and/or purchased by the individual during the Entry Period,
        without consideration of downvotes in the calculation. In the event there is still a tie after such calculation,
        the winner of such tie will be the individual who received such number of total upvotes first in time.</p>
    <p>As part of the Winner confirmation and verification process, Sponsor reserves the right, except where legally
        prohibited, to conduct background checks on any Winner. Each Winner’s participation in this promotion
        constitutes such individual’s authorization to such background checks, without Sponsor providing any additional
        prior notice or seeking any additional authorizations or consents from such Winner. Sponsor reserves the right,
        in its sole discretion, to disqualify a Winner based on the results of such background check if the Sponsor
        determines in its sole discretion that awarding the Prize to such Winner might reflect negatively on Sponsor, or
        be likely to put Sponsor, or any other third-party, in danger. Sponsor is not obligated to clarify, confirm or
        share any specific results of background check with any Winner, whether the background check resulted in a
        disqualification or not. Factors that could result in disqualification include, without limitation, having been
        convicted of a felony or misdemeanor, being delinquent on a government-ordered payment, such as child support,
        spousal support, alimony, tax payments, etc., or any other criminal or civil offense determined at the sole
        discretion of Sponsor. In certain circumstances or when required by law, a Winner must provide authorization
        and/or complete any forms reasonably required to facilitate such background check. If a Winner fails to sign and
        return the required documentation within the time period specified by Sponsor, such Winner may be disqualified
        and will forfeit any claim to such Winner’s Prize. Winners will not be disqualified on the basis of race,
        gender, sexual orientation, nationality, or status in any other protected class. Factors that would result in
        disqualification of a Winner include, without limitation, conviction of a felony or misdemeanor, being
        delinquent on a government ordered payment, such as child support, spousal support, alimony, tax payments,
        etc.</p>
    <p>Sponsor expressly reserves the right to disqualify any individuals that it believes in good faith have: (i) used
        automated scripts, macros or other automated means to generate upvotes or downvotes; (ii) asked or otherwise
        solicited third parties, including other Platform users, to downvote the Platform Posts of other individuals on
        the Platform for the purpose of winning the Contest; (iii) made agreements with other Platform users to share a
        Prize for any reason; or (iv) otherwise participating in any misleading, deceitful, or fraudulent activity, as
        determined by Sponsor in its sole discretion.</p>
    <p>Within five (5) calendar days of the end of the Entry Period, Sponsor will use reasonable efforts to notify each
        Winner via the Platform or using the contact information each Winner has provided to Sponsor. If selected as a
        Winner, you must claim your Prize within one week after the date of notification of such Prize. Your failure to
        respond to the Prize notification within the specified one week will be considered a forfeiture of the Prize and
        we may select an alternate Winner. If a Winner is found to be ineligible, we may select an alternate Winner.
        When applicable, a Winner may be required to execute and return (and winning may be conditioned upon such Winner
        executing and returning) to Sponsor, within ten (10) business days, an Affidavit of Eligibility and a Liability
        and Publicity Release. A Winner may be required in Sponsor’s sole discretion to complete relevant tax forms as a
        condition to delivery of such Winner’s Prize, including a W-9 tax form verifying their business tax
        identification number and other requested tax information necessary for payment of the Prize. If a Winner fails
        to promptly provide, complete and/or return all requested documentation by the specified date, or if a Winner
        fails to comply with any of the requirements in these Official Rules, such Winner may be disqualified and
        forfeit its interest in the Prize, and, at Sponsor’s discretion, an alternate Winner may be chosen. A Prize not
        claimed by a Winner and not awarded to a substitute entrant by Sponsor in accordance with these Official Rules
        will remain the property of Sponsor.</p>
    <p>The Contest will be conducted under the supervision of the Sponsor. The decisions of the Sponsor are final and
        binding in all matters relating to the Contest. You acknowledge and agree that if you are selected as a Winner,
        you will not disclose to any person or third party the fact that you were selected until notified by Sponsor
        that such disclosure is permitted or until made public by Sponsor.</p>
    <h2>GENERAL CONDITIONS AND RELEASES:</h2>
    <p>By entering the Contest or accepting a Prize, you agree to conform to all federal, state and local laws and
        regulations. A Winner may also be required to furnish proof of identity, address and birth date in order to
        receive the Prize.</p>
    <p>Unless prohibited by applicable law, your acceptance of a Prize constitutes your permission to use your Platform
        Post(s), Platform comment(s), name, photograph, likeness, voice, address (city and state) and testimonials in
        all media, in perpetuity, in any manner Sponsor deems appropriate for publicity purposes without any
        compensation to such entrant or any review or approval rights, notifications, or permissions; and constitutes
        your consent to disclose your personally identifiable information to third parties (including, without
        limitation, placing a Winner’s name on a winner’s list).</p>
    <p>An entrant, including a Winner, may be disqualified from the Contest if he or she or they fail to comply with
        each provision of these Official Rules, as determined in the sole discretion of the Sponsor. Participation in
        the Contest is at entrant’s own risk. Sponsor shall not be liable for: (i) failed, returned or misdirected
        notifications based on inaccurate information provided in connection with an entrant; (ii) entries and responses
        to Contest notifications which are lost, late, incomplete, illegible, unintelligible, misdirected, damaged or
        otherwise not received by the intended recipient in whole or in part or for computer or technical error of any
        kind; (iii) any electronic miscommunications or failures, technical hardware or software failures of any kind,
        lost or unavailable network connections, or failed incomplete, garbled or delayed computer transmissions which
        may limit an entrant's ability to participate in the Contest; (iv) any technical malfunctions of the telephone
        network, computer on-line system, computer equipment, software, program malfunctions or other failures, delayed
        computer transactions or network connections that are human, mechanical or technical in nature, or any
        combination thereof, including any injury or damage to entrant's or any other person's computer or mobile device
        related to or resulting from downloading any application or otherwise in connection with the Contest; or (v) any
        warranty with respect to a Prize or any component thereof. EACH PRIZE IS AWARDED “AS IS” AND SPONSOR DOES NOT
        MAKE ANY, AND HEREBY DISCLAIMS ANY AND ALL, REPRESENTATIONS OR WARRANTIES OF ANY KIND REGARDING EACH PRIZE.</p>
    <p>NOTWITHSTANDING ANYTHING ELSE HEREIN OR OTHERWISE, SPONSOR AND/OR ITS VENDORS SHALL NOT BE LIABLE OR OBLIGATED
        WITH RESPECT TO ANY SUBJECT MATTER OF THESE OFFICIAL RULES OR UNDER CONTRACT, NEGLIGENCE, STRICT LIABILITY OR
        OTHER LEGAL OR EQUITABLE THEORY FOR (I) ANY SPECIAL, INCIDENTAL, CONSEQUENTIAL, OR EXEMPLARY DAMAGES (INCLUDING,
        WITHOUT LIMITATION, LOSS OF REVENUE, GOODWILL, OR ANTICIPATED PROFITS), (II) DATA LOSS OR COST OF PROCUREMENT OF
        SUBSTITUTE GOODS OR SERVICES, AND/OR (III) ANY MATTER BEYOND SUCH PARTIES’ REASONABLE CONTROL.</p>
    <p>By entering the Contest, you agree to and hereby do release and hold harmless Sponsor and its respective parents,
        subsidiaries and affiliated entities, directors, officers, employees, attorneys, agents, and representatives
        from any damage, injury, death, loss, claim, action, demand, or other liability (collectively,
        “<strong>Claims</strong>”) that may arise from your acceptance, possession and/or use of a Prize or your
        participation in the Contest, or from any misuse or malfunction of a Prize awarded, regardless of whether such
        Claims, or knowledge of the facts constituting such Claims, exist at the time of entry or arise at any time
        thereafter. Any person attempting to defraud or in any way tamper with the Contest may be prosecuted to the full
        extent of the law. Sponsor reserves the right to modify these Official Rules in any way or at any time. Sponsor
        reserves the right, in its sole discretion, to cancel or suspend the Contest should viruses, bugs or other
        causes beyond its control corrupt the administration, security or proper operation of the Contest. In the event
        of cancellation or suspension, Sponsor shall promptly post a notice on Sponsor’s website to such effect. The
        Contest shall be governed by Delaware law, without regard to conflicts of laws provisions. By participating in
        the Contest, you agree that any dispute or litigation arising from or relating to the Contest shall be
        determined by binding arbitration only in New Castle County, Delaware by and under the Streamlined Arbitration
        Rules and Procedures of JAMS, and judgment on the award rendered by the arbitrator(s) may be entered in any
        court having jurisdiction thereof. Notwithstanding the foregoing, Sponsor may seek equitable relief in any court
        of competent jurisdiction. If any provision of these Official Rules is held to be illegal or unenforceable, such
        provision shall be limited or eliminated to the minimum extent necessary so that these rules otherwise remain in
        full force and effect and enforceable.</p>

</div>
{% endblock %}
