{% extends "layouts/_base.html" %}
{% set pageClass = "privacy-page" %}
{% block content %}
<div class="page-content legal">
    <h1>Privacy Policy</h1>
    <h2>OVERVIEW
    </h2>
    <p>This Privacy Policy, as amended from time to time (the "Policy"), describes how OPENSPOT.COMMUNITY INC.
        (hereinafter “Company”, “we”, “our” or “us”), collects, uses and shares information about you when you visit or
        use our website, our mobile app, any of our other services (collectively, the “Services”) or otherwise interact
        with us. It also describes your data protection rights, which may include a right to object to some of the
        processing which Company carries out.
    </p>
    <h2>SECTION 1: INFORMATION COLLECTION AND USE
    </h2>
    <p><strong>What information does Company collect about me?
    </strong></p>
    <p>When you contact us, we collect the information that you submit such as your name, address, email address,
        telephone number, company name, and all the content of the communications you have with Company. We collect
        information you provide directly to us when using our Services.
    </p>
    <p>If you submit content to Company, we may also require verification of your identity with a government issued ID
        and other information such as: (i) your name, address, email address, telephone number; (ii) content metadata;
        or (iii) company name.
    </p>
    <p>When you access our Services, we may automatically collect certain information such as: (i) Internet Protocol
        ("<strong>IP</strong>") address; (ii) Browser type; (iii) Operating system; and (iv) Uploads and downloads on
        our Services.
    </p>
    <p>Emails we send you may include a technology (called a web beacon) that tells Company whether you have received or
        opened the email, or clicked a link in the email. If you do not want us to collect this information from Company
        marketing emails, you can opt out of receiving Company marketing emails.
    </p>
    <p>Company Services may include buttons, tools, or content that link to other companies’ services (i.e., a Facebook
        "Like" button). We may collect information about your use of these features. This information may be used by
        Company and others to, among other things, analyze and track data, determine the popularity of certain content,
        deliver advertising and content targeted to your interests on our services and other websites and apps and
        better understand your online activity. For more information about interest-based ads, or to opt out of having
        your web browsing information used for behavioral advertising purposes, please contact us. In addition, when you
        see or interact with these buttons, tools, or content, or view a Company web page containing them, some
        information from your browser may automatically be sent to the other company. Please read that company’s privacy
        policy for more information.
    </p>
    <p><strong>What are cookies and how does Company use them?
    </strong></p>
    <p>As with most websites, Company and its partners use cookies, web beacons, and other technologies to collect
        information about users’ activities to make our website work as well as to learn more about our users.
    </p>
    <p>"<strong>Cookies</strong>" are small text files stored by your web browser when you use websites. Cookies and
        similar technologies help us improve our services and your experience, see which areas and features of our
        services are popular, and count visits. The type of information a cookie collects includes the date and time you
        visited, your browsing history, your preferences, and your username.
    </p>
    <p>Web beacons are bits of programming code that may be included in our webpages or emails and help deliver cookies,
        count visits, and understand usage and campaign effectiveness.
    </p>
    <p>Most web browsers are set to accept cookies by default. If you prefer, you can usually choose to set your browser
        to remove or reject cookies. Note that if you choose to remove or reject cookies, this could affect the
        availability and functionality of our services.
    </p>
    <p><strong>How does Company use the information it collects about me?
    </strong></p>
    <p>Company uses the information we collect about you for the following purposes: (i) Verifying your identity; (ii)
        Sending you necessary communications; (iii) Providing you with the Company content and services that you have
        requested; (iv) Providing customer service or support; (v) Responding to requests by government or law
        enforcement authorities conducting an investigation; (vi) to tailor and customize our Services, and marketing
        communications so we can improve them and engage and retain users; (vii) Diagnosing problems in our Services;
        (viii) Personalizing a Service, for you; (ix) Conducting surveys and market research about our customers, their
        interests, the effectiveness of our marketing campaigns, and customer satisfaction; (x) Reducing piracy and
        copyright, and protecting you as well as Company; (xi) Investigating and responding to any comments or
        complaints received from you or from others, about our Services; (xii) in connection with legal claims, e.g.
        copyright claims, compliance, regulatory and investigative purposes as necessary; (xiii) Sending you information
        about Company, new releases, special offers, and similar information, and sharing your information with third
        parties for their marketing purposes; (xiv) to detect, investigate, and prevent fraudulent and illegal
        activities and protect the rights and property of Company and others; (xv) Running online campaigns and
        displaying Company ads based on your likely interests; and (xvi) other legal uses.
    </p>
    <p><strong>Does Company share my personal information?
    </strong></p>
    <p>We will share your personal data between and among Company and our current and future family of companies for the
        purposes identified above. The types of third parties your information may be shared with include, advertising
        partners, retailers, research organizations, advertisers, ad agencies, advertising networks and platforms,
        information service providers, publishers, payment processors, and non-profit organizations.
    </p>
    <p>We will also share your personal data with companies that help us to run our business by processing personal data
        on behalf of Company for the purposes identified above. Such companies include, fraud monitoring and prevention,
        email, social media, and other marketing platforms and service providers, and hosting services.
    </p>
    <p>Company may also share your personal information: (i) When you agreed to the sharing; (ii) When we are required
        to provide information in response to a subpoena, court order, or other applicable law or legal process; (iii)
        When we have a good faith belief that the disclosure is necessary to prevent or respond to fraud, defend our
        apps or websites against attacks, or protect the property and safety of Company, our users, or the public; and
        (iv) If we merge with or are acquired by another company, sell our website, or business unit, or if all or a
        substantial portion of our assets are acquired by another company, your information will likely be disclosed to
        our advisers and any prospective purchaser's advisers and will be one of the assets that is transferred to the
        new owner.
    </p>
    <p>We may share or publish aggregate information that doesn’t specifically identify you, such as statistical
        information about visitors to our websites or statistical information about how customers use our products.
    </p>
    <p>Company shares collected information with Google LLC, for use with Google Analytics. You may find Google’s
        privacy policy here: <a href="https://policies.google.com/privacy?hl=en">https://policies.google.com/privacy?hl=en</a>.
        You may opt out from the use of Google
        Analytics by downloading and installing the Google Analytics Opt-out Browser Add On here:
        <a href="https://tools.google.com/dlpage/gaoptout">https://tools.google.com/dlpage/gaoptout</a>.
    </p>
    <h2>SECTION 2: SECURITY AND STORAGE</h2>
    <p>We understand that the security of your personal information is important. We provide reasonable administrative,
        technical, and physical security controls to protect your personal information. However, despite our efforts, no
        security controls are 100% effective and Company cannot ensure or warrant the security of your personal
        information.
    </p>
    <p>We may transfer your personal information across national borders to other countries in compliance with
        applicable laws.
    </p>
    <p><strong>How long will you retain my data?
    </strong></p>
    <p>We typically retain personal information related to our contract and transactions with you for seven years after
        your last interaction with us. Where you have perpetually licensed content to us – or have perpetually licensed
        content from us – we need to keep a record of that in perpetuity for license and royalty management purposes.
        Model and property releases also are kept in perpetuity (as certain content rights are perpetual) for licensing
        the content, investigating, preventing legal claims, and to protect third party rights.
    </p>
    <p>Where we process personal data for marketing purposes or with your consent, we process the data until you ask us
        to stop and for a short period after this (to allow us to implement your requests). We also keep a permanent
        record of the fact that you have asked us not to send you direct marketing or to process your data so that we
        can respect your request in future.
    </p>
    <h2>SECTION 3: OPT-OUT
    </h2>
    <p>We and companies we hire to help us market our Services on our behalf may use your information to provide you
        with information and offers related to Company.
    </p>
    <p>Wherever we rely on your consent, you will always be able to withdraw that consent, although we may have other
        legal grounds for processing your information for other purposes. In some cases, we are able to send you direct
        marketing without your consent, where we rely on our legitimate interests. You have an absolute right to opt-out
        of direct marketing, or profiling we carry out for direct marketing, at any time by contacting us.
    </p>
    <p>By opting out, you will no longer receive certain special offers or promotions, but we may continue to send you
        non-promotional communications, such as those about our ongoing business relations.

    </p>
    <h2>SECTION 4: EUROPEAN UNION NOTICE
    </h2>
    <p>If you are a resident in the European Economic Area and you believe we are unlawfully processing your personal
        information, you also have the right to complain to your local data protection supervisory authority. You can
        find their contact details here: <a
                href="http://ec.europa.eu/justice/data-protection/bodies/authorities/index_en.htm">http://ec.europa.eu/justice/data-protection/bodies/authorities/index_en.htm</a>.
    </p>
    <p>If you are a resident in Switzerland, the contact details for the data protection authorities are available here:
        <a href="https://www.edoeb.admin.ch/edoeb/en/home.html">https://www.edoeb.admin.ch/edoeb/en/home.html</a>.
    </p>
    <h2>SECTION 5: CALIFORNIA RESIDENTS
    </h2>
    <p>California Civil Code Section 1798.83, also known as the "Shine The Light" law, permits our users who are
        California residents to request and obtain from us, once a year and free of charge, information about categories
        of personal information (if any) we disclosed to third parties for direct marketing purposes and the names and
        addresses of all third parties with which we shared personal information in the immediately preceding calendar
        year. If you are a California resident and would like to make such a request, please submit your request in
        writing to us using the contact information provided below.
    </p>
    <p>If you are under 18 years of age, reside in California, and have a registered account with our Services, you have
        the right to request removal of unwanted data that you publicly post on our Services. To request removal of such
        data, please contact us using the contact information provided below, and include the email address associated
        with your account and a statement that you reside in California. We will make sure the data is not publicly
        displayed on our Services, but please be aware that the data may not be completely or comprehensively removed
        from all our systems (e.g. backups, etc.).
    </p>
    <h3>CCPA Privacy Notice
    </h3>
    <p>The California Code of Regulations defines a "resident" as:
    </p>
    <p>(1) every individual who is in the State of California for other than a temporary or transitory purpose and
    </p>
    <p>(2) every individual who is domiciled in the State of California who is outside the State of California for a
        temporary or transitory purpose
    </p>
    <p>All other individuals are defined as "non-residents."
    </p>
    <p>If this definition of "resident" applies to you, we must adhere to certain rights and obligations regarding your
        personal information.
    </p>
    <p>What categories of personal information do we collect?
    </p>
    <p>We have collected the following categories of personal information in the past twelve (12) months:
    </p>
    <table>
        <thead>
        <tr>
            <th style="width:20%">CATEGORY</th>
            <th style="width:70%">EXAMPLES</th>
            <th style="width:10%">COLLECTED</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>A. Identifiers</td>
            <td>Contact details, such as real name, alias, postal address, telephone or mobile contact number, unique
                personal identifier, online identifier, Internet Protocol address, email address and account name

            </td>
            <td>YES

            </td>
        </tr>
        <tr>
            <td>B. Personal information categories listed in the California Customer Records statute

            </td>
            <td>Name, contact information, education, employment, employment history and financial information

            </td>
            <td>YES
            </td>
        </tr>
        <tr>
            <td>C. Protected classification characteristics under California or federal law

            </td>
            <td>Gender and date of birth

            </td>
            <td>NO
            </td>
        </tr>
        <tr>
            <td>D. Commercial information

            </td>
            <td>Transaction information, purchase history, financial details and payment information

            </td>
            <td>YES

            </td>
        </tr>
        <tr>
            <td>E. Biometric information

            </td>
            <td>Fingerprints and voiceprints

            </td>
            <td>NO</td>
        </tr>
        <tr>
            <td>G. Geolocation data

            </td>
            <td>Device location

            </td>
            <td>YES

            </td>
        </tr>
        <tr>
            <td>H. Audio, electronic, visual, thermal, olfactory, or similar information

            </td>
            <td>Images and audio, video or call recordings created in connection with our business activities

            </td>
            <td>NO
            </td>
        </tr>
        <tr>
            <td>I. Professional or employment-related information

            </td>
            <td>Business contact details in order to provide you our services at a business level, job title as well as
                work history and professional qualifications if you apply for a job with us

            </td>
            <td>NO
            </td>
        </tr>
        <tr>
            <td>J. Education Information

            </td>
            <td>Student records and directory information

            </td>
            <td>NO</td>
        </tr>
        <tr>
            <td>K. Inferences drawn from other personal information

            </td>
            <td>Inferences drawn from any of the collected personal information listed above to create a profile or
                summary about, for example, an individual’s preferences and characteristics

            </td>
            <td>YES
            </td>
        </tr>
        </tbody>
    </table>
    <p>We may also collect other personal information outside of these categories instances where you interact with us
        in-person, online, or by phone or mail in the context of:
    </p>
    <ul>
        <li>Receiving help through our customer support channels;
        </li>
        <li>Participation in customer surveys or contests; and
        </li>
        <li>Facilitation in the delivery of our Services and to respond to your inquiries.
        </li>
    </ul>
    <p>More information about our data collection and sharing practices can be found in this privacy notice.
    </p>
    <h2>SECTION 6: CHANGES TO THIS PRIVACY POLICY
    </h2>
    <p>Occasionally, we may change this privacy policy (to allow Company to use or share your personal information in a different way). If we do, the links to the policy will be updated and we will notify you by revising the "last updated date" at the top of this Privacy Policy. For new users, the change will become effective upon posting. For existing users, if the change is significant, it will become effective thirty (30) days after posting. We encourage you to periodically review the Privacy Policy for the latest information on our privacy practices.
    </p>
    <p><strong>Who can I contact with questions or concerns?
    </strong></p>
    <p>If you have a privacy question, concern or request, please contact us a <a href="mailto:support@postinc.co">support@postinc.co</a>
    </p>

</div>
{% endblock %}
