{% extends "layouts/_base.html" %}
{% set pageClass = "terms-page" %}
{% block content %}
<div class="page-content legal">
    <h1>Terms & Conditions</h1>
    <p>PLEASE READ THESE TERMS AND CONDITIONS (THE “<strong>TERMS</strong>
        ”) CAREFULLY AS THEY DESCRIBE THE LEGALLY BINDING TERMS AND
        CONDITIONS FOR YOUR USE OF THE SERVICES MADE AVAILABLE AND/OR PROVIDED BY
        OPENSPOT.COMMUNITY INC., A DELAWARE CORPORATION
        , AND/OR ITS SUBSIDIARIES AND AFFILIATES (HEREINAFTER “
        <strong>COMPANY</strong>”, “<strong>WE</strong>”, “
        <strong>OUR</strong>” OR “<strong>US</strong>”).</p>
    <h2>SECTION 1 – OVERVIEW</h2>
    <h3>ACCEPTANCE OF THESE TERMS</h3>
    <p>These Terms govern the use of the website located at <a href="/">postinc.co</a>(the “<strong>Website</strong>”),
        all services provided through the Website, your use of interactive features, applications, related mobile
        applications (the “<strong>Mobile App</strong>”), content, downloads and/or other services that we own and
        control and that post
        a link to these Terms (each individually, a “<strong>Service</strong>” and collectively the
        “<strong>Services</strong>”). These Terms apply to all
        users of the Services, including without limitation users who are browsers and/or contributors of content.
        Visiting or accessing any of our Services, constitutes your electronic signature on this agreement (the
        “<strong>Agreement</strong>”) and your consent to execute this Agreement electronically.</p>
    <p>By visiting or accessing any of our Services, (1) you acknowledge that you have read, understand, and agree to be
        bound by this Agreement, (2) you represent that you are eighteen (18) years of age or older, and (3) you
        represent that you have the authority to enter into this Agreement. If you do not agree to all terms and
        conditions of this Agreement, or if you do not have such authority, you must not accept this Agreement or visit
        or access any of our Services.
    </p>

    <p>To the extent there is a conflict between this Agreement and any additional agreement you have signed with
        Company (an “<strong>Additional Agreement</strong>” or “<strong>Additional Terms</strong>”), this Agreement will
        control unless the Additional
        Agreement expressly states otherwise.
    </p>
    <p>Any new features or tools which are added to our Services shall also be subject to this Agreement. You can review
        the most current version of the Terms at any time by visiting the following link: <a
                href="/terms">postinc.co/terms</a>.
        We reserve
        the right to update, change or replace any part of these Terms by posting updates and/or changes to the Website,
        Mobile App or other relevant Service. It is your responsibility to check the Terms periodically for changes.</p>
    <p>Throughout these Terms, You and Company may be referred to individually as the “<strong>Party</strong>”, or
        collectively, the “<strong>Parties</strong>”.
    </p>
    <h3>ACCEPTANCE OF PRIVACY POLICY</h3>
    <p>By visiting or accessing any of our Services, you acknowledge and accept our privacy policy located at
        <a href="/privacy-policy">postinc.co/privacy-policy</a> (the “<strong>Privacy Policy</strong>”)
        and consent to the collection and use of your data in
        accordance with the Privacy Policy.
    </p>
    <h2>SECTION 2 – SERVICE DESCRIPTION AND ADVICE DISCLAIMER</h2>
    <p>Company is a new e-commerce platform where local sellers can develop their own identity and community. You
        acknowledge and agree that the form and nature of the Services may change from time to time without prior
        notice.</p>
    <h3>ADVICE DISCLAIMER</h3>
    <p>Company does not provide legal, accounting, investment, tax, medical, or personal advice. Any representation or
        implication to the contrary is expressly disclaimed.
    </p>
    <h2>SECTION 3 - ELECTRONIC DELIVERY, NOTICE POLICY, AND CONSENT</h2>
    <p>By visiting or accessing any of our Services, you consent to receive from Company all communications including
        notices, agreements, legally required disclosures, or other information in connection with the Services
        (collectively, “<strong>Notices</strong>”). Company may provide the electronic Notices by posting them on the
        Website or within
        the Mobile App or other Service. If you desire to withdraw your consent to receive Notices electronically, you
        must discontinue your use of the Services.
    </p>
    <p>Communications shall be deemed delivered to you when sent and not when received. You also acknowledge that these
        communications may be monitored and/or recorded for quality assurance purposes, and you expressly consent to
        being monitored or recorded. We promise to safeguard these communications and not share them with any other
        third party except in limited instances clearly outlined in our Privacy Policy. </p>
    <p>Your use of electronic signatures to sign documents legally binds you in the same manner as if you had manually
        signed such documents. The use of electronic versions of documents fully satisfies any requirement that such
        documents be provided to you in writing. If you sign electronically, you represent that you have the ability to
        access and retain a record of such documents. You agree that you are responsible for understanding these
        documents and agree to conduct business by electronic means.
        You are obligated to review the Terms periodically for changes and modifications and agree not to contest the
        admissibility or enforceability of any electronically stored copy of these Terms in any proceeding arising out
        of these Terms.
    </p>
    <p>You agree and represent that you have a suitable computer with Internet access, an email address, and the
        availability to download, save and/or print communications to retain a record of such communications. You agree
        that you are solely responsible for maintaining such equipment and services required for online access.</p>
    <h2>SECTION 4 – TERM AND TERMINATION
    </h2>
    <p>This Agreement will be in effect and binding upon you during any use of the Services.
    </p>
    <h2>SECTION 5 – SYSTEM AND SERVICE ACCESS, USER IP
    </h2>
    <p>Your access to Services is on a limited, non-exclusive, non-transferable basis only during the term of this
        Agreement.
    </p>
    <p>You will comply with this Agreement as well as all applicable laws. You are responsible for all acts and
        omissions in connection with your access and use of the Services. Company reserves the right to restrict or
        terminate your access to the Services if Company determines, in its reasonable discretion, that such access has
        an adverse effect on Company, including, without limitation, with respect to Company’s business.
    </p>
    <p>You are and will remain the sole and exclusive owner of all right, title, and interest in and to all information,
        data and other content provided by you to Company. As it relates to information you provide to Company, you
        irrevocably grant all rights and permissions in or relating to your intellectual property, to Company and any of
        its employees, officers, directors, agents, independent contractors, service providers or subcontractors (the
        “<strong>Representatives</strong>”) (i) as are necessary or useful for Company to exercise its rights hereunder,
        (ii) to use to
        improve and enhance the Services and for other developmental, diagnostic and corrective purposes in connection
        with the Services or other offerings; and (iii) for any other purposes set forth herein.
    </p>
    <h2>SECTION 6 – CONFIDENTIAL INFORMATION AND NON-DISCLOSURE</h2>
    <p>For purposes of this Agreement, "<strong>Confidential Information</strong>" shall include all information or
        material that has or
        could have commercial value or other utility in the business in which Company is engaged and any personal
        information about you. Confidential Information includes all non-public information regarding Company’s
        business.
    </p>
    <p>Confidential Information does not include information that:
    </p>
    <p>(a) Recipient already knew, but only if tangibly documented;</p>
    <p>(b) becomes public through no fault of Recipient;
    </p>
    <p>(c) was independently developed by Recipient with no reference to the documented formulations of Company,
        including, without limitation, designs, processes, formulas, statistics provided by third parties as compiled by
        Company, products, algorithms, source code, firmware, and middleware; or
    </p>
    <p>(d) was rightfully given to Recipient by another party.
    </p>
    <p>Except as otherwise set forth in this Agreement or the Privacy Policy:
    </p>
    <p>(a) Recipient agrees to hold and maintain Confidential Information in strictest confidence for the sole and
        exclusive benefit of the other Party.
    </p>
    <p>(b) Recipient shall carefully restrict access to Confidential Information to themselves and third parties as is
        reasonably required and shall require those persons to sign nondisclosure restrictions at least as protective as
        those in this Agreement.
    </p>
    <p>(c) Recipient shall not, without prior written approval of other Party, use for its own benefit, publish, copy,
        or otherwise disclose to others, or permit the use by others for their benefit or to the detriment of the other
        Party, any Confidential Information.
    </p>
    <p>(d) Recipient shall return to the other Party any and all records, notes, and other written, printed, or tangible
        materials in its possession pertaining to Confidential Information immediately upon written request for
        such.</p>
    <p>(e) The nondisclosure provisions of this Agreement shall survive the termination of this Agreement, and
        Recipient’s duty to hold Confidential Information in confidence shall remain in effect until the Party who
        rightfully owns the Confidential Information sends Recipient written notice releasing Recipient from this
        Agreement, whichever occurs first.
    </p>
    <h2>SECTION 7 – ARBITRATION AND CHOICE OF FORUM
    </h2>
    <p>Certain portions of this section are deemed to be a “written agreement to arbitrate” pursuant to the Federal
        Arbitration Act. You and Company agree that the Parties intend that this section satisfies the “writing”
        requirement of the Federal Arbitration Act.
    </p>
    <p>If any controversy, allegation, or claim arises out of or relates to the Services, these Terms, or any Additional
        Terms, whether heretofore or hereafter arising (collectively, the “<strong>Dispute</strong>”), or to any of
        Company’s actual or
        alleged intellectual property rights (an “<strong>Excluded Dispute</strong>”, then you and we agree to send a
        written notice to
        the other providing a reasonable description of the Dispute or Excluded Dispute, along with a proposed
        resolution of it. Our notice to you will be sent to you based on the most recent contact information that you
        provide us. But if no such information exists or if such information is not current, then we have no obligation
        under this section. Your notice to us must be sent via email to: support@postinc.co. For a period of sixty (60)
        days from the date of receipt of notice from the other Party, Company and you will engage in a dialogue in order
        to attempt to resolve the Dispute or Excluded Dispute, though nothing will require either you or Company to
        resolve the Dispute or Excluded Dispute on terms with respect to which you and Company, in each of their sole
        discretion, are not comfortable.
    </p>
    <p>If the Parties cannot resolve a Dispute as set forth in this section (or agree to arbitration in writing with
        respect to an Excluded Dispute) within sixty (60) days of receipt of the notice, then <strong>ANY AND ALL
            DISPUTES
            ARISING BETWEEN YOU AND COMPANY (WHETHER BASED IN CONTRACT, STATUTE, REGULATION, ORDINANCE, TORT— INCLUDING,
            BUT
            NOT LIMITED TO, FRAUD, ANY OTHER INTENTIONAL TORT OR NEGLIGENCE,—COMMON LAW, CONSTITUTIONAL PROVISION,
            RESPONDEAT SUPERIOR, AGENCY OR ANY OTHER LEGAL OR EQUITABLE THEORY), WHETHER ARISING BEFORE OR AFTER THE
            EFFECTIVE DATE OF THESE TERMS, MUST BE RESOLVED BY FINAL AND BINDING ARBITRATION. THIS INCLUDES ANY AND ALL
            DISPUTES BASED ON ANY SERVICES PURCHASED FROM COMPANY</strong>.</p>
    <p>The Federal Arbitration Act (the “<strong>FAA</strong>”), not state law, shall govern the arbitrability of all
        disputes between
        Company and you regarding these Terms (and any Additional Terms) and the Services, including the “No Class
        Action Matters” clause below.
    </p>
    <p><strong>BY AGREEING TO ARBITRATE, EACH PARTY IS GIVING UP ITS RIGHT TO GO TO COURT AND HAVE ANY DISPUTE HEARD BY
        A JUDGE OR JURY.</strong>
    </p>
    <p>Company and you agree, however, that the applicable state, federal or provincial law, as contemplated in the
        governing law clause below, shall apply to and govern, as appropriate, any and all claims or causes of action,
        remedies, and damages arising between you and Company regarding these Terms and the Services, whether arising or
        stated in contract, statute, common law, or any other legal theory, without regard to any jurisdiction’s choice
        of law principles.
    </p>
    <p>Any Dispute will be resolved solely by binding arbitration in accordance with the then-current Commercial
        Arbitration Rules (the “<strong>Rules</strong>”) of the American Arbitration Association (the
        “<strong>AAA</strong>”), except as modified herein,
        and the arbitration will be administered by any private arbitration service chosen by Company in the state of
        Texas. If a party properly submits the Dispute to the designated arbitration service for formal arbitration and
        the arbitration service is unwilling to set a hearing then either Party can elect to have the arbitration
        administered by the Judicial Arbitration and Mediation Services Inc. (the “<strong>JAMS</strong>”) using JAMS’
        streamlined
        Arbitration Rules and Procedures, or by any other arbitration administration service that the Parties consent to
        in writing. If an in-person arbitration hearing is required, then it will be conducted in Texas. The Parties
        will pay the administrative and arbitrator’s fees and other costs in accordance with the applicable arbitration
        rules; but if applicable arbitration rules or laws require Company to pay a greater portion or all of such fees
        and costs in order for this section to be enforceable, then Company will have the right to elect to pay the fees
        and costs and proceed to arbitration. The arbitration will be conducted by a single arbitrator who will apply
        and be bound by these Terms and any Additional Terms, and will determine any Dispute according to applicable law
        and facts based upon the record and no other basis, and will issue a reasoned award only in favor of the
        individual Party seeking relief and only to the extent to provide relief warranted by that Party’s individual
        claim. All issues are for the arbitrator to decide, except that issues relating to the scope and enforceability
        of the arbitration and class action waiver provisions are for the court to decide. This arbitration provision
        shall survive termination of these Terms. You can obtain AAA and JAMS procedures, rules, and fee information as
        follows: AAA: 800.778.7879 and http://www.adr.org and JAMS: 800.352.5267 and http://www.jamsadr.com.
    </p>
    <p><strong>TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW, IF YOU OR COMPANY WANT TO ASSERT A DISPUTE (BUT NOT AN
        EXCLUDED DISPUTE) AGAINST THE OTHER, THEN THEY MUST COMMENCE IT (BY DELIVERY OF WRITTEN NOTICE AS SET FORTH IN
        THIS SECTION) WITHIN ONE (1) YEAR AFTER THE DISPUTE ARISES — OR IT WILL BE FOREVER BARRED.</strong>
    </p>
    <p>Commencing means, as applicable: (a) by delivery of written notice as set forth above in this section; (b) filing
        for arbitration as set forth in this section; or (c) filing an action in state or federal court.
    </p>
    <p>The foregoing provisions of this section will not apply to any legal action taken by Company to seek an
        injunction or other equitable relief in connection with, any loss, cost, or damage (or any potential loss, cost,
        or damage) relating to Services, Company’s intellectual property rights (including such Company may claim that
        may be in dispute), or Company’s operations.
    </p>
    <p><strong>YOU AND COMPANY AGREE THAT EACH MAY BRING CLAIMS AGAINST THE OTHER ONLY IN YOUR OR ITS INDIVIDUAL
        CAPACITY, AND NOT AS A PLAINTIFF OR CLASS MEMBER IN ANY PURPORTED CLASS OR REPRESENTATIVE PROCEEDING OR AS AN
        ASSOCIATION.</strong>
    </p>
    <p>Disputes will be arbitrated only on an individual basis and will not be joined or consolidated with any other
        arbitrations or other proceedings that involve any claim or controversy of any other party. There shall be no
        right or authority for any Dispute to be arbitrated on a class action basis or on any basis involving Disputes
        brought in a purported representative capacity on behalf of the general public, or other persons or entities
        similarly situated. But if, for any reason, any court with competent jurisdiction holds that this restriction is
        unconscionable or unenforceable, then our agreement to arbitrate will not apply and the Dispute must be brought
        exclusively in court pursuant to this section. Notwithstanding any other provision of this section, any and all
        issues relating to the scope, interpretation and enforceability of the class action waiver provisions contained
        herein, are to be decided only by a court of competent jurisdiction, and not by the arbitrator. The arbitrator
        does not have the power to vary these class action waiver provisions.<br/>
        Except where arbitration is required above or with respect to the enforcement of any arbitration decision or
        award, any action or proceeding relating to any Dispute or Excluded Dispute arising hereunder may only be
        instituted, in state or federal court in State of Texas. Accordingly, You and Company consent to the exclusive
        personal jurisdiction and venue of such courts for such matters. You agree that regardless of any statute or law
        to the contrary, any claim or cause of action against Company arising out of or related to this Agreement must
        be filed within one year after such claim or cause of action arose, or be forever barred.
    </p>
    <p>Small claims matters are not excluded from the arbitration requirement. Any claims for ten thousand and 00/100
        dollars ($10,000.00) or less may not be filed in small claims court but is subject to this section.
    </p>
    <h2>SECTION 8 – COMPLIANCE</h2>
    <p>You may not use the Services for any illegal or unauthorized purpose nor may you, in the use of the Services,
        violate any laws in your jurisdiction.
    </p>
    <p>The Parties will each separately maintain effective compliance programs consistent with the relevant compliance
        guidelines set forth by any applicable state or federal government. The Parties will cooperate with each other
        to provide accurate and full responses to any material inquiry or concern of either Party related to compliance
        and to any reasonable request by either Party for clarification or documentation.
    </p>
    <p>You represent and warrant to Company that (i) all data you provide to Company shall be accurate and in conformity
        with all legal requirements; and (ii) Company is duly authorized to receive, use, and disclose such data subject
        to the terms of this Agreement.
    </p>
    <p>Use of and access to the Services is at the sole risk and responsibility of user.
    </p>
    <h2>SECTION 9 – WARRANTIES AND LIMITATIONS
    </h2>
    <p>Company warrants to you that, to Company’s knowledge, functionality of Services, when used properly and as
        expressly authorized by Company does not infringe any valid patent, registered copyright, or other registered
        intellectual property right under laws of the United States, provided that Company makes no warranty to the
        extent that such infringement results from (i) use or access by you in combination with any data, software, or
        equipment provided by you or any third party that could have been avoided by use or access of Services without
        such data, software, or equipment or (ii) any breach of any agreement by, or any negligent or other wrongful act
        or omission of, you or any third party acting on behalf of you.<br/>
        Except as otherwise expressly provided herein, Company undertakes no obligation to provide error-free or
        fault-free items, and the Services are provided “as is” with all faults and defects.<br/>
        <strong>EXCEPT AS EXPRESSLY PROVIDED HEREIN, COMPANY DISCLAIMS ALL REPRESENTATIONS AND WARRANTIES OF ANY KIND OR
            NATURE, EXPRESS OR IMPLIED (EITHER IN FACT OR BY OPERATION OF LAW), WITH RESPECT TO THE SERVICES PROVIDED
            HEREUNDER, INCLUDING, BUT NOT LIMITED TO, ANY WARRANTY OF MERCHANTABILITY, TITLE, NON-INFRINGEMENT, OR
            FITNESS FOR A PARTICULAR PURPOSE AND ANY WARRANTY ARISING FROM CONDUCT, COURSE OF DEALING, CUSTOM, OR USAGE
            IN TRADE.
        </strong>
    </p>
    <p><strong>NOTWITHSTANDING ANYTHING TO THE CONTRARY, COMPANY WILL NOT BE LIABLE UNDER ANY LEGAL THEORY FOR INDIRECT,
        EXEMPLARY, PUNITIVE, SPECIAL, INCIDENTAL, OR CONSEQUENTIAL DAMAGES OR LOSSES; LOST PROFITS OR BUSINESS
        OPPORTUNITIES; OR THE COST OF PROCUREMENT OF SUBSTITUTE ITEMS OR SERVICES.
    </strong></p>
    <p>You hereby acknowledge that the remedies set forth herein are reasonable and will not fail of their essential
        purpose. The foregoing does not affect any liability that cannot be excluded or limited under applicable law.
    </p>
    <h2>SECTION 10 – SERVICE CONTENT, OWNERSHIP, LIMITED LICENSE AND RIGHTS OF OTHERS</h2>
    <p>The Services contains a variety of: (i) materials and other items relating to Company and its Services, and
        similar items from our licensors and other third parties, including all layout, information, articles, posts,
        text, data, files, images, scripts, designs, graphics, button icons, instructions, illustrations, photographs,
        audio clips, music, sounds, pictures, videos, advertising copy, URLs, technology, software, interactive
        features, the “look and feel” of the Services, and the compilation, assembly, and arrangement of the materials
        of the Services and any and all copyrightable material (including source and object code); (ii) trademarks,
        trade dress, logos, trade names, service marks, and/or trade identities of various parties, including those of
        Company (collectively, “<strong>Trademarks</strong>”); and (iii) other forms of intellectual property (all of
        the foregoing,
        collectively, “<strong>Content</strong>”).
    </p>
    <p>The Services (including past, present, and future versions) and the Content are owned or controlled by Company,
        our licensors and/or certain other third parties. All right, title, and interest in and to the Content available
        on or through the Services is the property of Company or our licensors or certain other third parties, and is
        protected by U.S. and international copyright, trademark, trade dress, patent, and/or other intellectual
        property and unfair competition rights and laws to the fullest extent possible. Company owns the copyright in
        the selection, compilation, assembly, arrangement, and enhancement of the Content on the Services.
    </p>
    <p>Subject to your strict compliance with these Terms and any Additional Terms, and unless otherwise set forth in
        this Agreement, Company grants you a limited, non-exclusive, revocable, non-assignable, personal, and
        non-transferable license to download (temporary storage only), display, view, use, play, and/or print one copy
        of the Content (excluding source and object code in raw form or otherwise, other than as made available to
        access and use to enable display and functionality) on a personal computer, mobile phone or other wireless
        device, or other Internet enabled device (each, a “<strong>Device</strong>”) for your personal, non-commercial
        use only. The
        foregoing limited license: (i) does not give you any ownership of, or any other intellectual property interest
        in, any Content; and (ii) may be immediately suspended or terminated for any reason, in Company’s sole
        discretion, and without advance notice or liability. In some instances, we may permit you to have greater access
        to and use of Content, subject to certain Additional Terms.
    </p>
    <p>When using the Services, you must respect the intellectual property and other rights of Company and others. Your
        unauthorized use of Content may violate copyright, trademark, privacy, publicity, communications, and other
        laws, and any such use may result in your personal liability, including potential criminal liability. If you
        believe that your work has been infringed by means of an improper posting or distribution of it on or through
        the Services, then please see Section 21 below.
    </p>
    <p>Company will have the unrestricted and permanent right to use and implement all ideas, advice, recommendations,
        or proposals provided by you to Company with respect to the Services in any manner and in any media.
    </p>
    <h2>SECTION 11 – CHOICE OF LAW
    </h2>
    <p>This Agreement will be governed by the laws of the state of Texas, without regard to its conflicts of laws
        principles.
    </p>
    <h2>SECTION 12 – GOVERNMENT REQUESTS
    </h2>
    <p>In order to cooperate with governmental requests, subpoenas or court orders, to protect our systems, or to ensure
        the integrity and operation of our business and systems, we may access and disclose any information we consider
        necessary or appropriate, including and without limitation, your information, IP address, and usage history. Our
        right to disclose any such information is governed by these Terms, our Privacy Policy, and applicable law.
    </p>
    <h2>SECTION 13 – FOREIGN ACCESS OF SITE
    </h2>
    <p>The Services are controlled, operated, and administered by Company from our offices within the USA. If you access
        the Services from a location outside the USA, you are responsible for compliance with all local laws. You agree
        that you will not use Company’s content accessed through the Services in any country or in any manner prohibited
        by any applicable laws, restrictions, or regulations. Company makes no representation that all products,
        services and/or material described or available through the Services are appropriate or available for use in
        locations outside the United States or all territories within the United States.
    </p>
    <h2>SECTION 14 - ACCURACY, COMPLETENESS AND TIMELINESS OF INFORMATION
    </h2>
    <p>Occasionally there may be information on the Services that contains typographical errors, inaccuracies or
        omissions. We reserve the right to correct any errors, inaccuracies or omissions, and to change or update
        information if any information on the Services or on any related website is inaccurate at any time without prior
        notice. We are not responsible if information made available on the Services is not accurate, complete, or
        current. The material on the Services is provided for general information only and should not be relied upon or
        used as the sole basis for making decisions without consulting primary, more accurate, more complete, or more
        timely sources of information. Any reliance on the material on the Services is at your own risk.
    </p>
    <p>We reserve the right to modify the contents of the Services at any time, but we have no obligation to update any
        information on the Services, except as required by law. You agree that it is your responsibility to monitor
        changes to the Services.
    </p>
    <h2>SECTION 15 - MODIFICATIONS TO SERVICES
    </h2>
    <p>We reserve the right, but are not obligated, to limit use of the Services to any person, geographic region or
        jurisdiction. We may exercise this right on a case-by-case basis. All content on the Services is subject to
        change at any time without notice, at the sole discretion of us. We reserve the right at any time to modify or
        discontinue any portion of the Services without notice at any time. Any offer for any Service made, is void
        where prohibited.</p>
    <h2>SECTION 16 - OPTIONAL TOOLS
    </h2>
    <p>We may provide you with access to third-party products or tools over which we neither monitor nor have any
        control nor input.
    </p>
    <p>You acknowledge and agree that we provide access to such products or tools” as is” and “as available” without any
        warranties, representations, or conditions of any kind and without any endorsement. We shall have no liability
        whatsoever arising from or relating to your use of optional third-party products or tools.
    </p>
    <p>Any use by you of optional products or tools offered through the Services is entirely at your own risk and
        discretion and you should ensure that you are familiar with and approve of the terms on which products or tools
        are provided by the relevant third-party provider(s).
    </p>
    <h2>SECTION 17 – COMPANY BUSINESS RECORDS
    </h2>
    <p>Subject to the other requirements and limitations, the business records of Company and all other records,
        electronic or otherwise, created or maintained by Company in performance of the Agreement will be and remain the
        property of Company, even though they may reflect or contain your information or other information concerning or
        provided by you. All de-identified information created by Company in compliance with this Agreement will belong
        exclusively to Company, provided that user will not hereby be prevented from itself creating and using its own
        de-identified information. You agree that this section of the Agreement is valid only to the extent that it does
        not violate any applicable law.
    </p>
    <h2>SECTION 18 – INDEMNIFICATION
    </h2>
    <p>By using and/or accessing the Services, and by consenting to these Terms, you agree to defend (at Company’s
        option), indemnify, and hold harmless Company, its affiliates and subsidiaries, and each of its their respective
        directors, officers, employees, shareholders, managers, agents, vendors, licensors, licensees, contractors,
        partners and suppliers, and successors and assigns from and against any and all liabilities, lawsuits, actions
        (civil, criminal, government or otherwise), claims, damages, losses, costs, investigations (such as by local,
        state, and federal government agencies), judgments, fines, penalties, settlements, and expenses, including
        reasonable attorneys’ fees, that directly or indirectly arise from or are related to: (i) your use of the
        Services and your activities in connection with the Services; (ii) your breach or alleged breach of these Terms
        or any Additional Terms; (iii) your violation or alleged violation of any laws, rules, regulations, codes,
        statutes, ordinances, or orders of any governmental or quasi-governmental authorities in connection with your
        use of the Services or your activities in connection with the Services; (iv) information or material transmitted
        through your devices, even if not submitted by you, that infringes, violates, or misappropriates any copyright,
        trademark, trade secret, trade dress, patent, publicity, privacy, or other right of any person or entity; and
        (v) any misrepresentation made by you (all of the foregoing, “<strong>Claims and Losses</strong>”). Company
        reserves the right to
        assume the exclusive defense and control of any matter otherwise subject to indemnification by you, in which
        event you will assist and cooperate with Company in asserting any available defenses. Notwithstanding the
        foregoing, Company retains the exclusive right to settle, compromise, and pay any and all Claims and Losses. You
        will not settle any Claims and Losses without, in each instance, the prior written consent of an officer of
        Company.
    </p>
    <h2>SECTION 19 - THIRD-PARTY LINKS AND SERVICES
    </h2>
    <p>Third-party links on the Services may direct you to third-party sites that are not affiliated with us. We are not
        responsible for examining or evaluating the content or accuracy and we do not warrant and will not have any
        liability or responsibility for any third-party materials or sites, or for any other materials, products, or
        services of third parties. Services offered on the Services may require use in connection with third-party
        websites that may or may not be affiliated with us. We are not liable for any harm or damages related to the
        purchase or use of goods, services, resources, content, or any other transactions made in connection with any
        third-party sites. Please review carefully the third-party's policies and practices and make sure you understand
        them before you engage in any transaction. Complaints, claims, concerns, or questions regarding third-party
        products should be directed to the third-party.
    </p>
    <h2>SECTION 20 - FEEDBACK AND OTHER SUBMISSIONS
    </h2>
    <p>If, at our request, you send certain specific submissions or without a request from us you send creative ideas,
        suggestions, proposals, plans, or other materials, whether online, by email, by postal mail, or otherwise
        (collectively, “<strong>Feedback</strong>”), you agree that we may, at any time, without restriction, edit,
        copy, publish,
        distribute, translate and otherwise use in any medium any Feedback that you forward to us. We are and shall be
        under no obligation (1) to maintain any Feedback in confidence; (2) to pay compensation for any Feedback; or (3)
        to respond to any Feedback.
    </p>
    <h2>SECTION 21 – COPYRIGHT NOTIFICATIONS
    </h2>
    <p>Company will remove infringing materials in accordance with the Digital Millennium Copyright Act (the “<strong>DMCA</strong>”)
        if
        properly notified that any material infringes copyright. If you believe that your work has been copied in a way
        that constitutes copyright infringement, please notify Company in writing. Your notice must contain the
        following information (please confirm these requirements with your legal counsel, or see the U.S. Copyright Act,
        17 U.S.C. § 512(c)(3), for more information):
    </p>
    <p>a. an electronic or physical signature of the person authorized to act on behalf of the owner of the copyright
        interest;
    </p>
    <p>b. a description of the copyrighted work that you claim has been infringed;

    </p>
    <p>c. a description of the material that you claim to be infringing, and a description of where the material that
        you claim is infringing is located on the Services, sufficient for Company to locate the material;

    </p>
    <p>d. your address, telephone number, and email address;

    </p>
    <p>e. a statement by you that you have a good faith belief that the disputed use is not authorized by the copyright
        owner, its agent, or the law; and

    </p>
    <p>f. a statement by you that the information in your notice is accurate and, under penalty of perjury, that you are
        the copyright owner or authorized to act on the copyright owner’s behalf.

    </p>
    <p>Under the Copyright Act, any person who knowingly materially misrepresents that material is infringing may be
        subject to liability.
    </p>
    <p>If you fail to comply with these notice requirements, your notification may not be valid.
    </p>
    <p>Please note that this procedure is exclusively for notifying Company and its affiliates that your copyrighted
        material has been infringed. The preceding requirements are intended to comply with our rights and obligations
        under the DMCA, including 17 U.S.C. §512(c), but do not constitute legal advice. It may be advisable to contact
        an attorney regarding your rights and obligations under the DMCA and other applicable laws.

        Allegations that other intellectual property right is being infringed should be sent to support@postinc.co.

    </p>
    <p><strong>UNDER FEDERAL LAW, IF YOU KNOWINGLY MISREPRESENT THAT ONLINE MATERIAL IS INFRINGING, YOU MAY BE SUBJECT
        TO CRIMINAL PROSECUTION FOR PERJURY AND CIVIL PENALTIES, INCLUDING MONETARY DAMAGES, COURT COSTS, AND ATTORNEYS’
        FEES.
    </strong></p>
    <h2>SECTION 22 - CONTACT INFORMATION
    </h2>
    <p>Questions about the Terms should be sent to us at:
    </p>
    <p>OPENSPOT.COMMUNITY INC.
        919 North Market Street, Suite 950
        Wilmington, DE 19801
    </p>
    <h2>SECTION 23 – CONDUCT
    </h2>
    <p>You will not (i) access or use Services in connection with the provision of any services to third parties; (ii)
        resell, lease, encumber, copy, distribute, publish, exhibit, or transmit any portion of the Services to any
        third party; (iii) derive specifications from, reverse engineer, reverse compile, disassemble, translate,
        record, or create derivative works based on the Services or any content contained therein; (iv) use Services in
        a manner that delays, impairs, or interferes with system functionality for others or that compromises the
        security or integrity of any data, equipment, software, or system input or output; (v) enter data in the
        Services that is threatening, harmful, lewd, offensive, defamatory, or that injures or infringes the rights of
        others; (vi) apply systems to extract or modify information on the Services using technology or methods such as
        those commonly referred to as “web scraping,” “data scraping,” or “screen scraping”; or (vii) use the Services
        or any part or aspect of it for any unlawful purpose or to mislead or harass anyone. Use of or access to the
        Services not in accordance with the Terms of this Agreement is strictly prohibited. Company may, in its sole
        discretion, limit or suspend permission to access or use the Services immediately if the terms of this section
        are violated.
    </p>
    <p>Additionally, you understands and agree (i) You are responsible for all of your activity in connection with your
        use of the Services; (ii) You are prohibited from impersonating any person or entity, including any employee or
        representative of Company; (iii) You are prohibited from circumventing any security-related feature of the
        Services, including those designed to limit copying or reproduction of the Content; (iv) You are prohibited from
        taking any action that imposes or may impose (as determined by Company in its sole discretion) an unreasonable
        or disproportionately large burden or load on Company’s or its third-party providers’ infrastructure; (v) You
        are prohibited from interfering or attempting to interfere with the proper working of the Services or any
        activities conducted on the Services; (vi) You are prohibited from bypassing any measures Company may use to
        prevent or restrict access to the Services (or other accounts, computer systems, or networks connected to the
        Services); and (vii) you may cease using the Services at any time.
    </p>
    <h2>SECTION 24 – UPDATE TO TERMS
    </h2>
    <p><strong>AS THE SERVICES EVOLVE, THE TERMS AND CONDITIONS UNDER WHICH WE OFFER THE SERVICES MAY PROSPECTIVELY BE
        MODIFIED AND WE MAY CEASE THE SERVICES UNDER THE TERMS OR ADDITIONAL TERMS FOR WHICH THEY WERE PREVIOUSLY
        OFFERED. ACCORDINGLY, EACH TIME YOU SIGN IN TO OR OTHERWISE USE THE SERVICES YOU ARE ENTERING INTO A NEW
        AGREEMENT WITH US ON THE THEN APPLICABLE TERMS AND CONDITIONS AND YOU AGREE THAT WE MAY NOTIFY YOU OF OTHER
        TERMS BY POSTING THEM ON THE WEBSITE OR MOBILE APP (OR IN ANY OTHER REASONABLE MANNER OF NOTICE WHICH WE ELECT),
        AND THAT YOUR USE OF THE SERVICES AFTER SUCH NOTICE CONSTITUTES YOUR AGREEMENT TO THE OTHER TERMS FOR YOUR NEW
        USE.
    </strong></p>
    <p>Therefore, you should review the posted terms of use and any applicable Additional Terms each time you use the
        Services. The Additional Terms will be effective as to new use as of the time that we post them, or such later
        date as may be specified in them or in other notice to you. However, the Terms (and any applicable Additional
        Terms) that applied when you previously used the Services will continue to apply to such prior use (i.e.,
        changes and additions are prospective only) unless mutually agreed. In the event any notice to you of new,
        revised, or additional terms is determined by a tribunal to be insufficient, the prior agreement shall continue
        until sufficient notice to establish a new agreement occurs. You should frequently check for notices, and you
        agree that the means set forth in these Terms are all reasonable manners of providing you with notice. You can
        reject any new, revised or Additional Terms by discontinuing use of the Services.

    </p>
    <h2>SECTION 25 – ORIGINAL CONTENT
    </h2>
    <p>Concerning content that you create, submit, post, upload or sell/license using the Services, the following
        applies:

    </p>
    <p>(a) you agree that all created, submitted, posted, uploaded, or sold content is your original work (the “Original
        Content”), and does not and will not infringe upon, violate or misappropriate any patent, copyright, trade
        secret, trademark, contract, or any other publicity right, privacy right, or proprietary right of any third
        party;
    </p>
    <p>(b) you agree that all liabilities, lawsuits, actions, claims, damages, losses, costs, investigations, judgments,
        fines, penalties, settlements, and expenses associated with your Original Content are expressly covered under
        your indemnification obligations set forth in this Agreement;

    </p>
    <p>(c) In the event that you sell/license any of your Original Content (the “Sold Content”), you agree that you will
        no longer have a right to modify or remove the Sold Content from the Services and that the Sold Content will
        remain in the location and form that it was in at the time it was sold/licensed;
    </p>
    <p>(d) you agree that any financial transactions involving your Original Content results in a binding contract
        between you and the purchasing party, and that Company is not a party to, has no control over, and shall not be
        liable in any way for such transactions;

    </p>
    <p>(d) subject to the terms of this Agreement, you shall maintain your intellectual property rights to any Original
        Content and Sold Content. For the purposes of this Agreement, “Intellectual Property” means current and future
        worldwide rights under patent law, copyright law, trade secret law, trademark law, moral rights law, and other
        similar rights; and
    </p>
    <p>(e) you agree that Sold Content shall be subject to the following licensing terms:

    </p>
    <p>a. Purchaser of the Sold Content (the “Licensee”) is granted an exclusive and transferable license to use,
        reproduce, and display the Sold Content worldwide (the “License”) for the term of the License;
    </p>
    <p>b. Licensee shall have the exclusive right to profit commercially from the Sold Content for the term of the
        License;

    </p>
    <p>c. You shall have no right to interfere with or restrict Licensee’s use of the Sold Content for the term of the
        License.

    </p>
    <p>Concerning Original Content that you purchase using the Services, the following applies:
    </p>
    <p>(a) you agree that any financial transactions involving Original Content results in a binding contract between
        you and the owner of the Original Content, and that Company is not a party to, has no control over, and shall
        not be liable in any way for such transactions.
    </p>
    <h2>SECTION 26 – THIRD-PARTY APP STORES
    </h2>
    <p>To the extent permitted by applicable law, the following supplemental terms shall apply when accessing the
        Services through specific devices:
        By accessing the Services from a device made by Apple, Inc. (hereinafter “<strong>Apple</strong>”), you
        specifically acknowledge
        and agree that:
    </p>
    <p>(a) These Terms are an agreement between Company and you and Apple is not a party to these Terms.
    </p>
    <p>(b) Your use of the Services is subject to Apple’s App Store Terms of Services.
    </p>
    <p>(c) Apple has no obligations with respect to the Services or Content.

    </p>
    <p>(d) Apple is not responsible for addressing any claims by you or a third party relating to the Services.
    </p>
    <p>(e) In the event of any third party claim that the Services or your use of the Services infringes such third
        party’s intellectual property rights, Apple is not responsible for any aspect of the infringement claim.
    </p>
    <p>(f) You represent and warrant that (a) you are not located in a country that is subject to a U.S. Government
        embargo, or that has been designated by the U.S. Government as a “terrorist supporting” country; and (b) you are
        not listed on any U.S. Government list of prohibited or restricted parties.
    </p>
    <p>(g) Apple and its subsidiaries are third party beneficiaries of these Terms and will have the right to enforce
        these Terms.

    </p>
    <p>By accessing the Services from Google Play operated by Google, Inc. or one of its affiliates (hereinafter
        “<strong>Google</strong>”), you specifically acknowledge and agree that:
    </p>
    <p>(a) to the extent of any conflict between (a) the Google Play Terms of Services and the Google Play Business and
        Program Policies or such other terms which Google designates as default end user license terms for Google Play
        (all of which together are referred to as the “Google Play Terms”), and (b) the other terms and conditions in
        these Terms, the Google Play Terms shall apply with respect to your use of the Services that you download from
        Google Play.

    </p>
    <p>(b) Google does not have any responsibility or liability related to compliance or non-compliance by Company or
        you under these Terms or the Google Play Terms.

    </p>
    <h2>SECTION 27 - PRICES, FEES AND PAYMENTS
    </h2>
    <p>
        Prior to the purchase of any Original Content, you may be required to provide us or our payment processing
        company with valid payment information, including some or all of the following: (i) your name as it appears on
        your credit card or bank account; (ii) your credit card or bank account number; (iii) your bank account routing
        number, (iv) the date of expiration of your credit card; and (v) any activation numbers or codes needed to
        charge your credit card or bank account. By submitting that information to us or directly to our payment
        processor, you hereby agree that you authorize us and/or our processor (as applicable) to charge your credit
        card or bank account at our convenience but within thirty (30) days of authorization. For any Original Content
        that you order, you agree to pay the price applicable (including any sales taxes and surcharges) as of the time
        you submit the order. We will automatically bill your credit card or bank account or other form of payment
        submitted as part of the order process for such price. WE ARE NOT RESPONSIBLE FOR, AND DO NOT REIMBURSE, FEES
        FOR INSUFFICIENT FUNDS, ACH RETURN FEES OR ANY OTHER FEES ASSOCIATED WITH AN INVESTMENT YOU MAY MAKE.
    </p>
    <p>Your card issuer agreement (or bank account agreement) governs your use of your designated card (or bank
        account), and you must refer to that agreement and not these Terms to determine your rights and liabilities as a
        cardholder (or bank account holder). You hereby represent and warrant that you will not use any credit card,
        bank account, or other form of payment unless you have all necessary legal authorization to do so. YOU, AND NOT
        US, ARE RESPONSIBLE FOR PAYING ANY UNAUTHORIZED AMOUNTS BILLED TO YOUR CREDIT CARD OR BANK ACCOUNT BY A THIRD
        PARTY. You agree to pay all fees and charges incurred in connection with your purchases (including any
        applicable taxes) at the rates in effect when the charges were incurred. For example, if you purchase with a
        credit card that is issued through a bank that is based outside of the United States, your bank or our bank may
        charge foreign transaction fees and other similar currency exchange fees and you agree to reimburse us for any
        such fees or charges, if charged to us, upon our demand. Unless you notify us of any discrepancies within sixty
        (60) days after they first appear on your credit card statement, you agree that they will be deemed accepted by
        you for all purposes. If we do not receive payment from your credit card issuer (or bank) or its agent, you
        agree to pay all amounts due upon demand by us or its agents. Sales taxes, or other taxes, customs,
        import/export charges, or similar governmental charges are not included in the price of the products. You are
        responsible for paying any such taxes or charges imposed on your purchases, including, but not limited to,
        sales, use or value-added taxes.
    </p>
    <p>In order to use the payment functionality of OpenSpot’s application, you must open a "Dwolla Account" provided by
        Dwolla, Inc. and you must accept the <a href="https://www.dwolla.com/legal/tos">Dwolla Terms of Service</a> and
        <a href="https://www.dwolla.com/legal/privacy">Privacy Policy</a>. Any funds held in or
        transferred through your Dwolla Account are held or transferred by Dwolla's <a
                href="https://www.dwolla.com/legal/about-our-financial-institution-partners/">financial institution
            partners</a>. You
        must be at least 18 years old to create a Dwolla Account. You authorize us to collect and share with Dwolla your
        personal information including full name, date of birth, social security number, physical address, email address
        and financial information, and you are responsible for the accuracy and completeness of that data. You
        understand that you will access and manage your Dwolla Account through our application, and Dwolla account
        notifications will be sent by us, not Dwolla. We will provide customer support for your Dwolla Account activity,
        and can be reached at <a href="mailto:payments@postinc.co">payments@postinc.co</a>.

    </p>
    <p>All transactions involving Original Content using the Services are subject to a ten percent (10%) processing fee
        (the “<strong>Processing Fee</strong>”).

    </p>
    <p><strong>PAYMENTS REFERRED TO HEREIN SHALL NOT BE REFUNDABLE UNDER ANY CIRCUMSTANCES.

    </strong></p>
    <h2>SECTION 28 – MISCELLANEOUS</h2>
    <p>Company shall not be liable for any failure to perform its obligations hereunder where the failure results from
        any cause beyond Company’s reasonable control, including, without limitation, mechanical, electronic, or
        communications failure or degradation.

        Neither Party will assign this Agreement without the written consent of the other, provided that Company may
        assign this Agreement with no less than ninety (90) days prior notice as part of a corporate reorganization,
        consolidation, merger, change of control with respect to its outstanding stock, or sale of substantially all of
        its assets, and provided further that the assigning Party and the assignee will remain liable for any
        unperformed obligations under this Agreement arising prior to the effective date of any such transaction.
    </p>
    <p>This Agreement will be binding on the Parties and their successors and permitted assigns.
    </p>
    <p>Nothing contained in this Agreement will be construed to create a joint venture, partnership, or like
        relationship between the Parties, and their relationship is and will remain that of independent Parties to a
        contractual service relationship.
    </p>
    <p>In no event will either Party be liable for the debts or obligations of the other Party.

    </p>
    <p>Except as explicitly set forth herein, none of the provisions of this Agreement will be for the benefit of or
        enforceable by any third party.
    </p>
    <p>Section titles are for convenience only and will not affect the meaning of this Agreement.
    </p>
    <p>No failure by a Party to insist upon the strict performance of any term or condition of this Agreement or to
        exercise any right or remedy hereunder will constitute a waiver.
    </p>
    <p>If any term or provision of this Agreement is invalid, illegal, or unenforceable, such invalidity, illegality or
        unenforceability shall not affect any other term or provision of this Agreement or invalidate or render
        unenforceable such other term or provision.
    </p>
    <p>The terms of this Agreement shall be construed in accordance with the meaning of the language used and shall not
        be construed for or against either Party by reason of the authorship of this Agreement or any other rule of
        construction which might otherwise apply.
    </p>
    <p>Company reserves the right, without any limitation, to: (i) investigate any suspected breaches of security or its
        information technology or other systems or networks; (ii) investigate any suspected breaches of these Terms and
        any Additional Terms; (iii) investigate any information obtained by Company in connection with reviewing law
        enforcement databases or complying with criminal laws; (iv) involve and cooperate with law enforcement
        authorities in investigating any of the foregoing matters; (v) prosecute violators of these Terms and any
        Additional Terms; and (vi) discontinue the Services, in whole or in part, or, except as may be expressly set
        forth in any Additional Terms, suspend or terminate your access to it, in whole or in part, including any user
        accounts or registrations, at any time, without notice, for any reason and without any obligation to you or any
        third party. Any suspension or termination will not affect your obligations to Company under these Terms or any
        Additional Terms. Upon suspension or termination of your access to the Services, or upon notice from Company,
        all rights granted to you under these Terms or any Additional Terms will cease immediately, and you agree that
        you will immediately discontinue use of the Services.
    </p>
    <p></p>
    <p>You understand that all content (not including credit card information), may be transferred unencrypted and
        involve (a) transmissions over various networks; and (b) changes to conform and adapt to technical requirements
        of connecting networks or devices. Credit card information is always encrypted during transfer over networks.
    </p>
    <p>No delay, failure or omission by either party to carry out or observe any of its obligations hereunder will give
        rise to any claim against such party or be deemed to be a breach of this Agreement if and for as long as such
        failure or omission arises from any cause beyond the reasonable control of that party.

    </p>
    <p>This Agreement and any agreements referenced and incorporated herein make up the entire agreement between Company
        and you regarding your use of the Services and supersedes any prior agreements or understandings.
    </p>
    <p>You have carefully read all this Agreement and agree that all the restrictions set forth are fair and reasonably
        required to protect the Company’s interests.

    </p>
</div>
{% endblock %}
