// Break-points
$--xs: 360px;
$--sm: 576px;
$--md: 768px;
$--lg: 992px;
$--xl: 1280px;
$--xxl: 1440px;

:root {
  --bg-color: #010101;
  --white: #FFFFFF;
  --grey: #808080;
  --blue: #1A88FF;
  --grey-border: #404044;
  --black-hover: #2A2A2A;
  --frame-gradient-start: #BDDDFF;
  --frame-gradient-end: #007BFF;
  --disabled-text: #E6E6E6;
}
